@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    margin: 0 auto;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #09814a;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
main {
    height: 100vh;
}
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
input::placeholder,
input,
nav,
footer {
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.04rem;
}

button {
    border-radius: 8px;
    padding: 0.4em 0.8em;
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.04rem;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 0.25rem;
    border: 1px solid lightgrey;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:hover,
button:focus-visible,
input:focus {
    outline: 4px auto #e94f37;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #e94f37;
    }

    button {
        background-color: #f9f9f9;
    }
}

.filter {
    display: flex;
    flex-direction: column;
}

.filter__list {
    display: flex;
    flex-wrap: wrap;
}

button:hover {
    color: white;
}

.filter__list {
    display: flex;
    flex-wrap: wrap;
}

.filter__list--item {
    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.filter__list--item:hover,
.filter__list--item:active {
    background-color: #374151;
}

.filter__button--active {
    background-color: #374151;
}

.searchInput {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 36rem;
    max-width: 100%;
    font-size: 1.2rem;
}

label {
    color: white;
    max-width: 28rem;
}
